.searchbar {
    background-color: slateblue;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
        display: flex;
        gap: 15px;
}

.button {
    width: 120px;
    height: 46px;

}

.input {
    width: 220px;
    height: 40px;
}